


html{
   scroll-behavior:auto;
}

/*-------------------------------------General (*) CSS BELOW--------------------------------------*/
body {
    /* background-color:papayawhip;*/
    font-family: sans-serif;
}

main {
    font-family: sans-serif;
    background-image: radial-gradient(circle, white 0%, #abc5e5 60%, white 100%);
}

/*  CODE TO CENTER THE IMAGE - LSN */
p {
    line-height: 1.5;
    font-family: sans-serif;
}

/*-------------------------------------Keyframes and Advanced CSS Below---------------------------*/

.changing-text {
    position: relative;
    font-size: 50px;
    height: 1.5em;
    color: black;
}

.word {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: changeWord 9s infinite; /* 3 words * 3s duration = 9s for full cycle */
}



#word1 {
    animation-delay: 0s;
}

#word2 {
    animation-delay: 3s;
}

#word3 {
    animation-delay: 6s;
}

.typing-effect {
    border-right: .15em solid black;
    white-space: nowrap;
    overflow: hidden;
    width: 3.0ch;
    height: 2.5ch;
    animation: typing 8s steps(9, end) infinite, b
        
        
        
        ing-cursor .75s step-end infinite;
}

.untyping-effect {
    border-right: .15em solid black; /* Cursor effect */
    white-space: nowrap; /* Prevent word wrap */
    overflow: hidden; /* Hide overflowing content */
    width: 4.5ch; /* Initial width */
    animation: typing 8s steps(9, end) infinite, blinking-cursor .75s step-end infinite;
}

@keyframes typing {
    0%, 20% {
        width: 0;
    }

    40% {
        width: 5ch;
    }

    60%, 80% {
        width: 5ch;
    }

    100% {
        width: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes untyping {
    0% {
        width: 5ch;
    }

    100% {
        width: 0;
    }
}


@keyframes blinking-cursor {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

@keyframes changeWord {
    0%, 33% {
        opacity: 0;
    }

    34%, 66% {
        opacity: 1;
    }

    67%, 100% {
        opacity: 0;
    }
}

@keyframes slideInAnimation {
    to {
        transform: translateX(0);
    }
}

/*--------------------------------------------CLASSES BELOW--------------------------------------------------------*/

.HeaderImage {
    text-align: right;
    transform: translateX(-100%); /* Start off the screen to the left */
    animation: slideInAnimation 3s forwards normal;
}

    .HeaderImage img {
        width: 300px;
        height: 300px;
        border-radius: 50%; /* Makes the image rounded */
        border: 3px solid black; /* Optional: adds a border */
    }


.lsn-header {
    transform: translateX(-100%); /* Start off the screen to the left */
    animation: slideInAnimation 3s forwards normal;
    top: inherit;
}

.lsn-header {
    font-size: 50px;
    font-family: fantasy;
    text-align: right;
    margin-right: 75px;
    background-size: 23%;
    background-repeat: no-repeat;
    background-position: right;
}

.summary-lsn {
    font-size: 40px;
}

.body-lsn {
    font-size: 32px;
}


.container img {
    width: 300px;
    height: 300px;
}

.side-by-side-tables {
    display: flex;
    font-size: 27px;
    justify-content: space-between;
}

    .side-by-side-tables table {
        width: 49%;
        box-sizing: border-box;
    }

.my-history {
    font-size: 30px;
}

.my-projects {
    font-size: 30px;
}



.JobLinks {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 60%; /* Adjust this to move the tab up or down */
    right: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-image: linear-gradient(180deg, rgb(200,100,0) 0%, #b59c3a 90%);
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .JobLinks a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

    .JobLinks:hover {
        background-color: #555;
    }

.JobLinks2 {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 50%; /* Adjust this to move the tab up or down */
    right: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-image: linear-gradient(180deg, rgb(200,100,0) 0%, #b59c3a 90%);
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .JobLinks2 a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

    .JobLinks2:hover {
        background-color: #555
    }

.about-me {
    font-size: 50px;
    color-interpolation: linearRGB;
}

.my-sidebar-fonts{
    font-family:Pacifico,cursive;
    margin-left:20px;
    margin-top:-100px;
}


/*-----------------------------------Buttons---------------------------------------*/


.my-sidebar-buttons-about {
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-bottom: 20px;
    transform: scale(1.1); /*zoom effect*/
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background: url(../images/icons/character-icon.jpg);
    background-size: cover;
    background-position: center;

}

    .my-sidebar-buttons-about:active {
        background-color: darkblue;
    }

    .my-sidebar-buttons-about.clicked {
        background-color: green;
    }

.my-sidebar-buttons-knowledge {
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-bottom: 20px;
    transform: scale(1.1); /*zoom effect*/
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background: url(../images/icons/book-icon.jpg);
    background-size: cover;
    background-position: center;
}

    .my-sidebar-buttons-knowledge:active {
        background-color: darkblue;
    }

    .my-sidebar-buttons-knowledge.clicked {
        background-color: green;
    }

.my-sidebar-buttons-experience {
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-bottom: 20px;
    transform: scale(1.1); /*zoom effect*/
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background: url(../images/icons/location-icon.jpg);
    background-size: cover;
    background-position: center;
}

    .my-sidebar-buttons-experience:active {
        background-color: darkblue;
    }

    .my-sidebar-buttons-experience.clicked {
        background-color: green;
    }

.my-sidebar-buttons-projects {
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-bottom: 20px;
    transform: scale(1.1); /*zoom effect*/
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background: url(../images/icons/filmcamera-icon.jpg);
    background-size: cover;
    background-position: center;
}

    .my-sidebar-buttons-projects:active {
        background-color: darkblue;
    }

    .my-sidebar-buttons-projects.clicked {
        background-color: green;
    }

/*------------------------------------My Section IDs-----------------------------*/
.about {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 60%; /* Adjust this to move the tab up or down */
    left: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-color: #333; /* Any color you desire for the background */
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .about a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

        .about a:hover {
            background-color: #555; /* Change color on hover */
        }

.knowledge {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 20%; /* Adjust this to move the tab up or down */
    left: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-color: #333; /* Any color you desire for the background */
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .knowledge a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

        .knowledge a:hover {
            background-color: #555; /* Change color on hover */
        }

.experience {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 30%; /* Adjust this to move the tab up or down */
    left: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-color: #333; /* Any color you desire for the background */
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .experience a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

        .experience a:hover {
            background-color: #555; /* Change color on hover */
        }

.projects {
    display: block;
    position: fixed; /* Makes sure the tab is always visible, even on scroll */
    bottom: 40%; /* Adjust this to move the tab up or down */
    left: 0; /* This will position it on the right side. Use 'left: 0;' for the left side */
    background-color: #333; /* Any color you desire for the background */
    padding: 10px 20px; /* Space around the content */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-bottom-left-radius: 8px; /* Rounded corners on the bottom-left */
    z-index: 1000; /* Makes sure the tab is above other elements */
}

    .projects a {
        color: white; /* Color of the tab content */
        text-decoration: none; /* Removes underline from link */
        display: block; /* Makes each link occupy its own line */
        padding: 5px 0; /* Some vertical padding for spacing between links */
    }

.project a:hover {
    background-color: #555; /* Change color on hover */
}
/*------------------------------------ICONS------------------------------*/
.my-sidebar-icons {
    width: 40px;
    height: 40px;
    margin-right: 10px;transform: scale(1.1); /*zoom effect*/
    border-radius: 50%; /* Makes the image rounded */
    border: 1px solid black; /* Optional: adds a border */
    
}